#auth-layout-container {
  height: 100%;
  background: url(/assets/img/auth-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  ion-card {
    position: relative;
    #auth-button-container {
      padding: 5px;
      margin-bottom: 35px;
      ion-button {
        width: 90%;
        max-width: 300px;
      }
    }
    #other-auth-button {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}

#grid-layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #grid-layout-row {
    width: 100%;
    justify-content: center;
  }
}
