#wide-modal {
  @media screen and (min-width: 750px) {
    // position: relative;
    --width: 80vw !important;
    --height: 80vh !important;
  }
  #close-button {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  #content {
    padding-top: 15px;
  }

  .modal-wrapper.sc-ion-modal-md {
    background-color: whitesmoke; // rgba(255, 255, 224, 0.424);
  }
}
